.navBar{
    background-color: #61814C !important; /* DO NOT REMOVE IMPORTANT */
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.5);
}

.logo{
    width: 200px;
    height: 60px;
    object-fit: cover;
}

.text-link{
    color: white;
    text-decoration: none;
    &:focus, &:hover {
        font-weight: bold;
        text-shadow: 0 2px 5px #000000;
        color: black;
    }
}
