.navBar {
    background-color: #61814C !important;
    /* DO NOT REMOVE IMPORTANT */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.logo {
    width: 200px;
    height: 60px;
    object-fit: cover;
    position: relative;
    transition: all 0.5s;
}

.logo:hover {
    transform: scale(1.07);
}

.text-link {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    font-family: 'Alegreya Sans', serif;
    font-size: 1.5rem;
    font-weight: 400;
    touch-action: manipulation;
}

.text-link:hover {
    transform: scale(1.07);
    font-weight: bold;
    text-shadow: 0 1px 10px #000000;
    color: black;
}

@media screen and (max-width: 768px) {
    .text-link{
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .text-link{
        font-size: 1rem;
        padding: 1rem;
    }
}
