.business {
    text-align: center;
    min-height: 100vh;
    /* Make sure it fills the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 10px black;
}

.sideImages {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 1px 5px 10px black;
}

.about {
    padding: 3rem;
}

.about h1 {
    font-family: 'Marcellus SC', serif;
    font-weight: 200;
    color: white;
    font-size: 5.5rem;
}

.about p {
    font-family: 'Alegreya Sans', serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.information {
    padding: 4rem;
}

.ourName h1 {
    font-family: 'Marcellus SC', serif;
    color: white;
    font-weight: 200;
    font-size: 5.5rem;
}

.ourName p {
    font-family: 'Alegreya Sans', serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.mission {
    padding: 4rem;
}

.mission h1 {
    font-family: 'Marcellus SC', serif;
    color: #4CDE73;
    font-size: 5.5rem;
    padding: 0.5em;
}

.mission p {
    font-family: 'Alegreya Sans', serif;
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.about hr {
    border: 1px solid white;
    box-shadow: 1px 1px 5px black;
}

/* Mobile Responsive Styles */

/* Tablet styles (768px and below) */
@media screen and (max-width: 768px) {
    .business {
        padding: 1rem;
    }

    .sideImages {
        text-align: center;
        width: 500px;
        height: 340px;
    }

    .about,
    .information,
    .mission {
        padding: 1rem 0.5rem;
    }

    .textInfo {
        padding: 2rem;
    }

    .about h1,
    .ourName h1 {
        font-size: 3rem;
    }

    .mission h1 {
        font-size: 3rem;
        padding: 0.1em;
    }

    .about p,
    .ourName p {
        font-size: 1rem;
    }

    .mission p {
        font-size: 1.1rem;  
    }


}

/* Mobile styles (480px and below) */
@media screen and (max-width: 480px) {

    .business {
        padding: 1rem;
    }

    .sideImages {
        text-align: center;
        width: 350px;
        height: 240px;
    }

    .about,
    .information,
    .mission {
        padding: 1rem 0.5rem;
    }

    .textInfo {
        padding: 1rem;
    }

    .about h1,
    .ourName h1 {
        font-size: 3rem;
    }

    .mission h1 {
        font-size: 3rem;
        padding: 0.1em;
    }

    .about p,
    .ourName p {
        font-size: 1.3rem;
        text-align: center;
    }

    .mission p {
        font-size: 1.3rem;
    }
}